body {	background:grey; font-family:"Arial";}

#navigation, #footer { position: absolute; height:70px; background:black;}
#navigation { top:0; font-size:1.6em;}
#footer { bottom: 0;}
#main {position:absolute; top:80px; bottom:80px;}

a:link, a:visited {color:white; text-decoration:none;}
a:hover, a:active {color:lightblue; text-decoration:none;}
ul li {margin: 8px 10px 5px 30px; float:left;}
ul {list-style-type:none;}
div {right:10px; left:10px; clear:left;}
.container {color: white; }

iframe {height:100%; width:100%; border: 2px solid black;}
table { background: white; margin:10px; font-size: 1.3em; }
table tr td {background:lightgrey;}
table tr td:hover {background:white;}


